<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- NAV BAR -->

    <!-- article -->
         
    <section id="articles">
        <h2>Articles</h2>
            <ul id="articles-list">
            <% articles.forEach(article => { %>
                <li>
                    <h2><%= article.title %></h2>
                    <p><%= article.content %></p>
                    <% if (article.image_url) { %>
                        <img src="<%= article.image_url %>" alt="Article Image">
                    <% } %>
                </li>
            <% }); %>
        </ul>
    </section>

    
    <script src="script.js"></script>
</body>
</html>