<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">  
    <script src="https://kit.fontawesome.com/0882f9805b.js" crossorigin="anonymous"></script>  
    <title>Mindful Parenting - Downloads</title>
</head>
<body>
    <!-- NAV BAR -->
     <nav id="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about.html">About Us</a></li>
            <li><a href="/downloads">Downloads</a></li>
            <li><a href="/contact.html">Contact Us</a></li>
        </ul>
        <form action="/search" method="GET">
            <input type="text" name="search" id="search" placeholder="Search">
            <button type="submit">Search</button>
        </form>
    </nav>

    <main class="downloads_container mainNAV">
        <h1 class="downloads_header h1NAV">Downloads</h1>
        <div id="downloadsUs">
        <p style="text-align: center;">Welcome to our Mindful Parenting website!</p>
        <p>We are Marcella and Ronny, two parents with a shared passion for mindful parenting and raising happy, healthy children. Between us, we have four wonderful kids who have inspired us to create this platform.</p>
        <p><strong>Marcella</strong> is a dedicated mother of two, with a deep interest in mindfulness and emotional well-being. She brings a wealth of experience and practical advice from her own parenting journey, always striving to find balance and harmony in family life.</p>
        
    </div>
</main>
    <footer>
        <p>© 2024 by Marcella and Ronny - Hackaton Developers Institute</p>
    </footer>
    <script src="/script.js"></script>
</body>
</html>