<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">  
    <script src="https://kit.fontawesome.com/0882f9805b.js" crossorigin="anonymous"></script>  
    <title>Mindful Parenting</title>
</head>
<body>
    <!-- NAV BAR -->
     <nav id="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about.html">About Us</a></li>
            <li><a href="/downloads">Downloads</a></li>
            <li><a href="/contact.html">Contact Us</a></li>
        </ul>
        <form action="/search" method="GET">
            <input type="text" name="search" id="search" placeholder="Search">
            <button type="submit">Search</button>
        </form>
    </nav>

    <!-- carrossel? -->
    <!-- <div class="slideshow-container">

         Full-width images with number and caption text 
        <div class="mySlides fade">
        <img src="img1.jpg" style="width:80%">          
        </div> -->
      
        


    <!-- os trecos -->
    <!-- libraty -->
    
        <section class="container deck">
            <a href="/articles"><div class="card articles">
            <h2 class="cardName">Articles</h2>
            <i class="fa-regular fa-newspaper fa-2xl" style="color: #ffffff;"></i>
            </div></a>
            <div class="card tips">
            <h2 class="cardName">Tips and Tricks</h2>
            <i class="fa-solid fa-wand-magic-sparkles fa-2xl" style="color: #ffffff;"></i>
            </div>
            <div class="card books">
            <h2 class="cardName">Books</h2>
            <i class="fa-solid fa-book-open fa-2xl" style="color: #ffffff;"></i>
            </div>
            <div class="card meditation">
            <h2 class="cardName">Guided Meditation</h2>
            <i class="fa-solid fa-leaf fa-2xl" style="color: #ffffff;"></i>
            </div>
        </section>
          
  <div class="talk">
        <h2 class="rtExtra">Random Talk of the Day</h2>
        <p class="rtExtra">Ask your child the question below, and be sure to answer it yourself.<br>They want to know about you too.</p>
        <p id="randomTalk"><%= subjecttalk %></p>
        <button id="newTalkButton">Get Another Talk</button>
    </div> 

  
 <footer>
        <p>© 2024 by Marcella and Ronny - Hackaton Developers Institute</p>
    </footer>
    <script src="/script.js"></script>
</body>
</html>